& {
	/* Positioning */
	position: fixed;
	transform:translate(50%, -50%);
	z-index: 100;

	/* Box-model */
    /*height: 300px;*/
    /*padding: 15px;*/
	/*width: 500px;*/

	 /* Typography */

	 /* Visual */

    /* Misc */
}

.modal-input {
	width: 80%;
    font-size: 30px;
    margin-bottom: 20px;
}

.modal-content {
	height:300px;
	width:500px;
}

.modal-body {
	padding:20px 15px;
	text-align: center;
}

.taller {
	height:323px;
}
