Ideas! think of em!<br><br>
<ul>
{{#each sortedIdeas as |idea|}}
    <li>{{idea-item idea=idea vote='vote'}}</li>
{{/each}}
</ul>

{{input value=ideaTitle placeholder='title'}} {{input value=ideaDescription placeholder='description'}}
<button {{action 'createIdea'}}>Create idea!</button>