{{input type="text" value=email placeholder="Enter Email"}}

{{input type="password" value=password placeholder="Enter Password"}} 

<button {{action 'authenticate' email password}}>Login</button>
{{#if errorMessage}}
  {{errorMessage}}
{{/if}}