.count {
    width:50px;
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    display:inline-block;
}
.border {
    border: 1px solid #666;
    margin:4px;
    padding: 2px;
    border-radius: 4px;
    line-height: 24px;
}

.border:hover{
    background-color: #eee;
}
.isVotedOn{
    color:green;
}