& {
    /*width:100%;*/
    display:flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.count {
    display:inline-block;
    font-weight: bold;
    font-size: 24px;
    padding-right:10px;
    text-align: right;
    width:20px;
}
.content {
    display:flex;
    flex-wrap: wrap;
    flex-grow: 1;
    /*border: 1px solid #666;*/
    /*margin:4px;
    padding: 2px;
    border-radius: 4px;
    line-height: 24px;*/
}

.title {
    width:100%;
    margin:0px;
    font-size:24px;
    /*flex-wrap:nowrap;*/
}

.description {
    margin:0px;
    width:100%;
    
}

.delete {
    /*width:50px;*/
    font-size: 24px;

}

.actions {
    display:none;
}
&:hover .actions {
    display: block;
}

.content:hover{
    background-color: #eee;
}
.isVotedOn{
    color:green;
}